@using Microsoft.AspNetCore.Components.Routing

<div id="da-sidebar-outlet" class="h-full">
    <Sidebar class="h-full">
        
        <SidebarItem 
            Href="/"
            Icon="@(new HomeIcon())">
            Home
        </SidebarItem>
        <SidebarItem 
            Href="/counter"
            Icon="@(new PlusIcon())">
            Counter
        </SidebarItem>
        <SidebarItem 
            Href="/weather"
            Icon="@(new InfoCircleIcon())">
            Weather
        </SidebarItem>
        <SidebarItem
            Href="/icons"
            Icon="@(new StarIcon())">
            Icons
        </SidebarItem>
    </Sidebar>
</div>